@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: none;
    
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    color: #fff;
    padding: 10px;
}

#logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    /* background-image: url('hero.jpg');
    background-size: cover;
    background-position: center; */
    color: #fff;
    text-align: center;
    height: auto;
    /* padding: 100px 0; */
}

.hero h2 {
    font-family: "Anton", sans-serif;
    font-size: 64px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-weight: 700; */
    color: #FDF0D5;
}

.hero p {
    font-family: cursive;
    font-size: 24px;
    color: #e8eddf;
    margin-top: 5px;
    margin-bottom: 40px;
}

.hero a {
    padding: 20px 50px;
    background-color: #FB8500;
    border-radius: 30px;
    text-decoration: none;
    color: #FDF0D5;
    font-size: large;
    font-weight: 800;
    text-transform: uppercase;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.featured h2{
    margin-right: 50px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card figure{
    width: auto;
    height: 200px;
    object-fit: contain;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card h3 {
    color: #e28413;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.card p {
    text-align: center;
    font-size: 16px;
    color: #000022;
    font-weight: 600;
}

footer {
    background-color: #023047;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    /* width: 100%; */
}